__pycache__/
*.py[cod]
*$py.class

db.sqlite3
*.db

*.log

.env
*.env

venv/
env/
ENV/
.venv/
.pyenv/
pip-wheel-metadata/

.vscode/

.idea/

*.sublime-project
*.sublime-workspace

.DS_Store

Thumbs.db
desktop.ini

staticfiles/
media/
static/

tmp/
temp/
*.tmp
